* {
    font-family: 'Nanum Myeongjo', serif;
}
 
.hidden{
    display:none;
}

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* opacity: 0.8; */ /* 투명도 */
}

.clock {
    color: white;
    font-size: 100px;
    /* font-weight: 400; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* 세로 위치 조절 */
    text-align: center; /* 가로 가운데 정렬 */
}

.greeting {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;    
    transform: translate(-50%, -50%); /* 세로 위치 조절 */
    text-align: center; /* 가로 가운데 정렬 */
}

/* ================================== */
.todo {
    position: absolute;
    top: 60%;
    left: 48%;    
    transform: translate(-50%, -50%); /* 세로 위치 조절 */
    text-align: center; /* 가로 가운데 정렬 */
}

.todo_form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 500px;
    margin-left: 50px;
    margin-top: 100px;
}

.todo_input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    width: 500px;
    border: none;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    background: none;
    z-index: 5;
}

.todo_input::placeholder { color: white; }
.todo_input:focus { outline: none; }

.todo_span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: white;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: 0.5s;
}

.todo_label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    bottom: 8px;
    transition: all .2s;
    text-align: center; /* 가로 가운데 정렬 */
}

.todo_input:focus ~ .todo_label, .todo_input:valid ~ .todo_label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    bottom: 40px;
    color: white;
    font-weight: bold;
}
    
.todo_input:focus ~ .todo_span, .todo_input:valid ~ .todo_span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.quote {
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;    
    transform: translate(-50%, -50%); /* 세로 위치 조절 */
}

.quote_author {
    position: absolute;
    left: 40%;
    text-align: center;
}

.list {
    color: white;
}

.ul_list {
    list-style: none;
}

.list {
    height: 200px;
    width: 400px;
    position: absolute;
    margin: auto;
    top: 10;
    bottom: 0;
    left: 100;
    right: 0;
    display: flex;
    justify-self: space-around;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: none;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.list_label {
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}

input[type='checkbox']:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: '\f00c';
    font-size: 20px;
    color: white;
    display: none;
}

input[type='checkbox']:hover{
    background-color: whitesmoke;
}

input[type='checkbox']:checked{
    background-color: none;
}

input[type='checkbox']:checked:after{
    display: block;
}

.size {
    width: 40px;
    height: 40px;
    z-index: 0;
}

.move {
    display: flex;
    position: absolute;
    left: 1800px;
}

.temperature {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
}

.city {
    position: absolute;
    margin-left: 1820px;
    margin-top: 18px;
    color: white;
}